table{
	border-collapse:collapse;
	width:90%;
	border: none;
	margin: auto;
}

th, td{
	text-align: center;
	padding:2px 5px;;
}

th{
	font-weight:bold;
	border-bottom:1px solid black;
}

table.print-pointille td, table.print-pointille tbody th {
	border-bottom:1px dotted black;
}

.no-bottom-border{
	border-bottom:none;
}

.hidden-print {
    display: none !important;
}

table.print-cell-pointille td, table.print-cell-pointille tbody th {
	border:1px dotted black;
}

.print-titre{
	margin-top: 10px;
	font-weight:bold;
	font-size: 14px;
	font-variant: small-caps;
	text-align: center;
	letter-spacing: 2px;
}

.print-moyen{
	font-weight:bold;
	font-size: 12px;
	font-variant: small-caps;
}

.print-petit{
	font-size: 10px;
}

kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #FFF;
    background-color: #333;
    border-radius: 3px;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25) inset;
}

.surligne {
	background-color: #FF0;
}