@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu-b-webfont.eot');
    src: url('../fonts/ubuntu-b-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-b-webfont.woff') format('woff'),
         url('../fonts/ubuntu-b-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-b-webfont.svg#ubuntubold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu-r-webfont.eot');
    src: url('../fonts/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-r-webfont.woff') format('woff'),
         url('../fonts/ubuntu-r-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-r-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu-ri-webfont.eot');
    src: url('../fonts/ubuntu-ri-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-ri-webfont.woff') format('woff'),
         url('../fonts/ubuntu-ri-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-ri-webfont.svg#ubuntuitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

.btn-panel{
    margin-top: -5px;
    padding: 4px;
}

kbd {
	font-weight: bold;
	background-color: #428BCA;
}

code {
	font-weight: bold;
}

.profKO{
	background-color: #AC2925;
    color: #FFFFFF;
}

.dropOK{
	background-color: #14D100;
    color: #FFFFFF;
}

.yo-striped > tbody > tr:nth-child(odd) > td,
.yo-striped > tbody > tr:nth-child(odd) > th {
  background-color: #DDDDDD;
}
	
td{
	text-align: center;
    color: #808080;
    /*font-size: 10em;*/
    font-size: 4em;
    font-weight: normal;
    opacity: 0.8;
}

.panel-yo-petit {
	width: 50%;
	margin: auto auto 5px;;
}

.panel-yo {
    margin-bottom: 5px;
}

.panel-heading-yo{
    padding: 0 8px;
}
	
th{
	text-align: center;
}
	
.yo-recap td{
	text-align: center;
	color: inherit;
    font-size: inherit;
    font-weight: normal;
}

.draggable > .panel > .panel-heading {
	cursor: move;
}
.panel-default > .panel-heading .badge.primary {
	background-color: #333333;
    color: #FFFFFF;
}

.panel-default > .panel-heading .badge.info {
  color: #fff;
  background-color: #39b3d7;
  border-color: #269abc;
}

.panel-default > .panel-heading .badge.success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.panel-default > .panel-heading .badge.warning {
  color: #fff;
  background-color: #FF9900;
  border-color: #ff6633;
}

.panel-default > .panel-heading .badge.danger {
  color: #fff;
  background-color: #d2322d;
  border-color: #ac2925;
}

.surligne {
	background-color: #FF0;
}

.lead {
    font-weight: bold;
	font-size: 16px;
}